
<ng-container *ngIf="siteBody$ | async as siteBody; else fallbackHeader">
  <div id="top-header">
    <a routerLink="/accueil">
      <img
        *ngIf="siteBody.logoSrc"
        class="logo logo-left"
        [src]="siteBody.logoSrc"
        alt="Logo gauche"
      />
    </a>
    <p class="site-title">{{ siteBody.titre }}</p>
    <a routerLink="/accueil">
      <img
        *ngIf="siteBody.logoSrc"
        class="logo logo-right"
        [src]="siteBody.logoSrc"
        alt="Logo droite"
      />
    </a>
  </div>
</ng-container>
<ng-template #fallbackHeader>
  <div id="top-header">
    <a routerLink="/accueil">
      <p class="site-title">Les Croqueurs de Pommes</p>
    </a>
  </div>
</ng-template>
<app-menu />