<div class="article" 
     [class.has-image]="getImageIds().length > 0"
     [class.has-files]="getFileIds().length > 0"
     [class.image-left]="getImageIds().length > 0 && !isEvenIndex()"
     [class.image-right]="getImageIds().length > 0 && isEvenIndex()">
    <div class="article-content">
        <!-- Image à gauche (si index impair) -->
        <div *ngIf="getImageIds().length > 0 && !isEvenIndex()" class="article-image-container">
            <ng-container *ngFor="let idIllustration of getImageIds()">
                <img *ngIf="getImageUrl(idIllustration)" 
                     [src]="getImageUrl(idIllustration)" 
                     [alt]="getFileName(idIllustration)"
                     class="article-image">
            </ng-container>
        </div>

        <!-- Contenu texte -->
        <div class="article-texte">
            <h1>{{ article.title }}</h1>
            <div class="article-content-wrapper">
                <p class="article-content-text">{{ article.content }}</p>
                <p class="article-author">Par {{ article.authorName }}</p>
            </div>
        </div>

        <!-- Image à droite (si index pair) -->
        <div *ngIf="getImageIds().length > 0 && isEvenIndex()" class="article-image-container">
            <ng-container *ngFor="let idIllustration of getImageIds()">
                <img *ngIf="getImageUrl(idIllustration)" 
                     [src]="getImageUrl(idIllustration)" 
                     [alt]="getFileName(idIllustration)"
                     class="article-image">
            </ng-container>
        </div>
    </div>

    <!-- Fichiers en bas -->
    <div *ngIf="getFileIds().length > 0" class="article-files">
        <ng-container *ngFor="let idIllustration of getFileIds()">
            <div class="file-download-container"
                 (click)="downloadFile(idIllustration)"
                 [title]="'Télécharger ' + getFileName(idIllustration)">
                <svg class="download-icon" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                    <polyline points="7 10 12 15 17 10"></polyline>
                    <line x1="12" y1="15" x2="12" y2="3"></line>
                </svg>
                <span class="file-name">{{ getFileName(idIllustration) }}</span>
            </div>
        </ng-container>
    </div>
    
    <div *ngIf="isAdmin$ | async" class="article-edit">
        <button (click)="editArticle()" class="action-button" title="Modifier">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
            </svg>
        </button>
        <button (click)="deleteArticle()" class="action-button" title="Supprimer">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <polyline points="3 6 5 6 21 6"></polyline>
                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
            </svg>
        </button>
    </div>
</div>
