<ng-container *ngIf="isAdmin$ | async as isAdmin">
<div class="article"
     [class.has-image]="images.length"
     [class.has-files]="files.length"
     [class.image-left]="images.length && !isEven"
     [class.image-right]="images.length && isEven"
     [class.has-actions]="isAdmin">

    <div class="article-main">

        <div class="article-content">

            <!-- Image à gauche -->
            <ng-container *ngIf="images.length && !isEven">
                <ng-template [ngTemplateOutlet]="imagesTemplate"></ng-template>
            </ng-container>

            <!-- Texte -->
            <div class="article-texte">
                <h1>{{ article.title }}</h1>

                <div class="article-content-wrapper">
                    <div class="article-content-text"
                         [innerHTML]="contentHtml">
                    </div>

                    <p class="article-author">
                        Par {{ article.authorName }}
                    </p>
                </div>
            </div>

            <!-- Image à droite -->
            <ng-container *ngIf="images.length && isEven">
                <ng-template [ngTemplateOutlet]="imagesTemplate"></ng-template>
            </ng-container>

        </div>


        <!-- Fichiers -->
        <div *ngIf="files.length" class="article-files">

            <div *ngFor="let file of files"
                 class="file-download-container"
                 (click)="downloadFile(file.id)"
                 [title]="'Télécharger ' + file.name">

                 <app-icon name="download" [size]="64"/>

                <span class="file-name">
                    {{ file.name }}
                </span>

            </div>

        </div>

    </div>


    <!-- Actions administrateur -->
    <div *ngIf="isAdmin" class="article-actions">

        <button (click)="editArticle()"
                class="action-button"
                title="Modifier">
            <app-icon name="edit"/>
        </button>

        <button (click)="deleteArticle()"
                class="action-button"
                title="Supprimer">
            <app-icon name="delete"/>
        </button>

        <button (click)="pinArticle()"
                class="action-button"
                [title]="isPinned
                    ? 'Désépingler'
                    : 'Épingler (fixer en haut de la page)'">
            <app-icon name="star" [filled]="isPinned"/>
        </button>

    </div>

</div>


<!-- Template réutilisable pour les images -->
<ng-template #imagesTemplate>

    <div class="article-image-container">

        <img *ngFor="let image of images"
             [src]="image.url"
             [alt]="image.name"
             class="article-image">

    </div>

</ng-template>
</ng-container>